.ip-table {
    background: #f5f5f785;
    border-radius: 14px;
    padding: 0px 24px;
    border: 1px solid #e5e5e7;
  }
  
  .ip-table th {
    font-size: 18px;
    font-family: 'SF Pro Bold';
  }
  
  .ip-table td {
    font-size: 16x;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #e5e5e7;
    text-align: left;
  }
  

  .confirm-modal.small {
    width: 380px;
    padding: 20px;
    border-radius: 14px;
  }
  
  .confirm-modal h4 {
    margin: 0 0 10px;
    font-size: 18px;
  }
  
  .confirm-modal p {
    font-size: 16px;
    color: #555;
  }
  
  .confirm-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
  }
  
  .confirm-cancel {
    background: #f1f1f1;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .confirm-delete {
    background: #ff3b30;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  