/* ================= WRAPPER ================= */
.settings-wrapper-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 3%;
}

.warning-btn {
  margin-top: 16px;
  background: #ff9f0a;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}


.settings-head {
  width: 80%;
}

.settings-main {
  width: 80%;
  display: flex;
  align-items: stretch;
  gap: 32px;
}

.settings-nav {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-divider {
  width: 1px;
  background-color: #d2d2d7;
  align-self: stretch; 
}

.settings-nav-item {
  padding: 14px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'SF Pro Bold';
  color: #6e6e73;
}

.settings-nav-item.active {
  background: #0071e31f;
  color: #0071e3;
}

.settings-nav-item.nav-danger.active {
  background: #ff3a302d;
  color: #ff3b30;
}

.settings-content {
  width: 65%;
  background: #fff;
}

.profile-card {
  background: #f5f5f785;
  border-radius: 14px;
  padding: 0px 24px;
  border: 1px solid #e5e5e7;
}

.handle-cancel {
  margin: 16px 0px 32px;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  color: #000;
  font-size: 18px;
  font-family: 'SF Pro Bold';
  cursor: pointer;
}

/* Reset link input */
.reset-link-input {
  width: 80%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e7;
  margin-bottom: 12px;
  font-size: 16px;
}

.reset-link-row {
  display: flex;
  gap: 12px;
  /* align-items: center; */
  margin-bottom: 12px;
}

.copy-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #0071e3;
  color: #fff;
  font-family: 'SF Pro Bold';
  cursor: pointer;
  white-space: nowrap;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.copy-btn:hover {
  background: #005bb5;
}

.drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -12px 0 32px rgba(0, 0, 0, 0.18);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.drawer-open {
  transform: translateX(0);
  width: 30%;
}

.drawer-header {
  padding: 16px 24px;
  border-bottom: 1px solid #e5e5ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-header h3 {
  font-size: 24px;
  line-height: 48px;
  font-family: 'SF Pro Bold';
  margin: 0px;
}

.drawer-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.drawer-body {
  padding: 24px;
  overflow-y: auto;
  font-size: 16px;
  width: 91.80%;
}

.drawer-input {
  width: 95%;
  margin-bottom: 7px;
}

.drawer-input label {
  display: block;
  font-size: 16px;
  color: #646467b5;
  margin-bottom: 4px;
}

.drawer-input input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d2d2d7;
}

.drawer-save-btn {
  margin-top: 24px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: 'SF Pro Bold';
  background: #0071e3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.confirm-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 999;
}

.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1.5%;
  border-radius: 16px;
  width: 20%;
  z-index: 1000;
}

.confirm-modal h3 {
  margin: 6px 0px 16px;
  font-size: 22px;
}

.confirm-modal p {
  color: #6e6e73;
  font-size: 18px;
  margin: 4px 0px;
  margin-bottom: 18px;
}

.confirm-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 4%;
  width: 100%;
}

.confirm-cancel {
  background: #f5f5f7;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
}

.confirm-continue {
  background: #ff3b30;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
}

.Ip-Proceed {
  background: #0071e3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
}

.handle-cancel:hover {
  background: #eaeaee;
}

.otp-boxes {
  display: flex;
  gap: 12px;
  /* justify-content: center;
  margin: 10px 0; */
  padding: 0% 2%;
}

.otp-box {
  width: 48px;
  height: 56px;
  text-align: center;
  font-size: 22px;
  font-family: 'SF Pro Bold';
  border-radius: 10px;
  border: 1px solid #d2d2d7;
  outline: none;
  transition: all 0.2s ease;
}

.otp-box:focus {
  border-color: #0071e3;
  box-shadow: 0 0 0 3px rgba(0,113,227,0.15);
}

.icloud-card {
  border-radius: 20px;
  padding: 28px;
  color: #fff;
  position: relative;
  background: linear-gradient(135deg, #0a84ff 0%, #5ac8fa 100%);
  box-shadow: 0 5px 10px rgba(0, 122, 255, 0.35);
  overflow: hidden;
  margin-bottom: 10%;
}

.icloud-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.25) 0%,
    rgba(255,255,255,0) 60%
  );
}

.icloud-card-content {
  position: relative;
}

.icloud-logo {
  font-size: 32px;
  font-family: 'SF Pro Bold';
  margin-bottom: 56px;
  color: #f5f5f7;
}

.icloud-links span {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #f5f5f7;
}

.icloud-badge {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.25);
  padding: 8px 10px;
  border-radius: 8px;
  font-family: 'SF Pro Bold';
  color: #f5f5f7;
  font-size: 18px;
}